html, body{
    margin: 0;
    padding: 0;
}

h1{
    margin: 0;
    float: left;
}

.header{
    height: 60px;
    padding: 20px 20px 20px 20px;
    background-color: navy;
    color: #fff;
    line-height: 60px;
    
}

.header ul{
    float: right;
    list-style: none;
    margin: 0;
    padding: 0;
}

.header li{
    float: left;
    margin-left: 20px;

}

.header a{
    color: #fff;
    text-decoration: none;
}

.content{
    width: 70%;
    background-color: lightgrey;
    float: left;
    min-height: 500px; 

}

.sidebar{
    width: 30%;
    background-color: #454647;
    color: white;
    float: left;
    min-height: 500px;

}

.main p{
    margin: 20px;
}

.blog-post {
    margin: 10px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #aaaaaa;
    min-height: 300px; 
    border-radius: 0.1cm;
}

.blog-post img{
    float: left;
    margin: 0px 10px 10px 0px;
}